@using System;
@using WkwkReportServer.Templating;
@using RazorEngine;
@using RazorEngine.Templating;
@inherits TemplateBase<DataXmlModel>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Multiple Sheets</title>

    <!-- Normalize or reset CSS with your favorite library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    <!-- Load paper.css for happy printing -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">

    <!-- Set page size here: A5, A4 or A3 -->
    <!-- Set also "landscape" if you need -->
    <title>タイトル</title>
</head>
<body class="A4">
    <section class="sheet padding-10mm">

        <!-- Write HTML just like a web page -->
        <article>This is the first sheet.</article>
        <h1>@Model.Text("/Root/Base/Name")</h1>

        @Model.Text("/Root/Status/Code")<br />
        @Model.Text("/Root/Status/Name")<br />

        <h2>ループ</h2>
        <table border="1">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Description</td>
                </tr>
            </thead>
            @foreach (DataXmlNode node in Model.Nodes("/Root/List/Item"))
            {
                <tr>
                    <td>@node.Text("ID")</td>
                    <td>@node.Text("Description")</td>
                </tr>
            }
        </table>
    </section>

    <section class="sheet padding-10mm">
        <!-- Write HTML just like a web page -->
        <article>This is the second sheet.</article>
        <h2>属性取得</h2>
        <table border="1">
            <thead>
                <tr>
                    <td>id</td>
                    <td>value</td>
                </tr>
            </thead>
            @foreach (DataXmlNode node in Model.Nodes("/Root/Property[@category='food']"))
            {
                <tr>
                    <td>@node.Text("@id")</td>
                    <td>@node.Text("@value")</td>
                </tr>
            }
        </table>

        <h2>外部ファイル呼び出し</h2>
        @Include("_part1")
    </section>


</body>


</html>


